/* Remove CRM Status from CPD Pages */
body.page-civicrm-civicpd .crm-footer .status {
    display: none;
}

/* Remove Footer from CPD Pages for BCSLA */
body.page-civicrm-civicpd .crm-footer {
    display: none;
}

/* Hide Progress Bar and cover */
body.page-civicrm-civicpd #progressbar,
body.page-civicrm-civicpd #cover {
	display: none;
	position: fixed;
}

/* Report Page */


#report_year {
    display: inline-block;
    margin-left: 5px;
    position: relative;
}

p.cpd-message {
    font-style: italic;
    font-weight: normal;
}
.edit-activity-response {
margin: 10px 0 10px 0;
}

#category-list tr {
margin-top: 400px;
}

#edit-response{
    margin: 10px 0;
}

.success {
   color:#14CC21;
}

.failure {
   color:#EB1040;
}

input.error,
textarea.error {
    border-color: #EB1040 !important;
    border-width: 1px;
    border-style: solid;
}

.inline {
    display: inline !important;
    float: none !important;
}

.activity-item-manual {}

.activity-item-import {
margin: 0 10% 0 10%;
float: right;
width: 30%;
height: 200px;
}

.add-new-category,
.activity-item-import-pdf,
.activity-item,
.activity-list {}

.activity-item-import-pdf {}
.activity-item-import-pdf input {
    margin-right: 10px;
}
.activity-item-import-pdf #file {
    width: 165px;
}

.category-title {
    cursor: pointer;
    position: relative;
}

.category-title .button {
    position: absolute;
    top: 0;
    right: 0;
}

.toggle-activity-list {
    background: no-repeat center -11px;
    text-indent: -9999em;
    display: block;
    float: left;
    width: 19px;
    height: 19px;
    margin-right: 5px;
}

.toggle-activity-list.contracted {
    background-position: center 5px;
}

body.page-civicrm-civicpd input {
   font-size: inherit !important;
}

.crm-form-block {
    padding: 20px !important;
}
.crm-form-block table {
    margin-bottom: 0;
}

.crm-form-block tr td, tr th {
    border: none;
}

.clear{
clear:both;}
 
.graphcont {
    color: #000;
    font-weight: 700;
    margin: 0 0 2rem;
}

.graph {
background-color:#cecece;
position:relative;
padding:0
}

.graph .bar {
    display: block;
    position: relative;
    text-align: center;
    color: #fff;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 2;
    box-shadow: 1px 0px 5px rgba(100, 100, 100, 0.75);
}
 
.graph .bar span {
position:absolute;
left:1em
}

.graph .marker {
    display: block;
    border-right: 2px solid #cecece;
    position: absolute;
    height: 25px;
    top: 25px;
    margin-left: -2px;
    color: darkgreen;
}

.graph .marker span {
    position: absolute;
    right: 5px;
    bottom: -4px;
    color: #aaa;
    text-align: right;
    display: block;
    min-width: 5rem;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 20px !important;
	cursor: pointer !important;
	opacity: 0 !important;
	filter: alpha(opacity=0) !important;
}

/* Full Report */

#button{
cursor:pointer;
background-color: white;
color: grey;
font-family: Helvetica,Arial,Sans;
    font-size: 10px;
}


#crm-container p {
    font-family: Helvetica,Arial,Sans;
    font-size: 12px;
    margin-bottom: 4px;
    padding: 4px 6px;
}

#crm-container table.report-table {
    border-collapse: inherit;
    width: 100%;
}

#crm-container table.report-table th {
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    color: #666666;
}
 
#crm-container table.report-table td {
    border: 1px solid #EFEFEF;
}

#report_year {
    display: inline-block;
    margin-left: 5px;
    position: relative;
}

SPAN.searchword { background-color:yellow; }

.sortable {
    width:823px; border:1px solid #ccc; border-bottom:none
}

.sortable .head,
.sortable .desc, 
.sortable .asc {
    cursor:pointer;
}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {
    color:black
}

/* Edit */

.ui-widget {
    border: 1px solid black;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-content, .ui-widget-header {
    color: #3E3E3E;
    font-family: helvetica;
    font-size: 0.95em;
}

.ui-widget-content tr {
    background: #efefef;
    background: rgba(0, 0, 0, 0.063);
}

.ui-widget-content tr td {
    vertical-align: top;
    border: 1px solid #fff;
    text-align: left;
}

.page-civicrm-civicpd input[type="text"],
.page-civicrm-civicpd input[type="search"],
.page-civicrm-civicpd textarea {
    margin: 2px 0;
    padding: 4px;
    border: 1px solid #ddd;
}

.page-civicrm-civicpd input[type="search"] {
    margin: 2px 10px;
}
