@media print{
    @page {
        size: landscape
    }
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

#page {
    width: 99%;
    margin: 0 auto; padding: 0;
    background: none;
}

#cpd-header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}


#cpd-personal-details {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

#cpd-ies-logo {
    height: 120px;
    width: auto;
    float: right;
    display: inline-block;
    margin-top: -50px;
    margin-right: 50px;
}

#cpd-personal-details table,
#cpd-hours-summary table,
#cpd-summary table {
    border-style: none;
}

#cpd-personal-details tr>td,
#cpd-hours-summary tr>td {
    font-size: 1.5em;
    padding: 10px;
}

#category-list > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
    display: none;
}

.CPDactivityTable td {
    padding: 5px 5px 5px 5px !important;
}

.CPDactivityTable th {
    color: black;
}

.CPDactivityTable table,
.CPDactivityTable th,
.CPDactivityTable td {
    border-collapse: collapse !important;
    border: 1px solid black !important;
}

.category-title {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;

}

.category {
    border: 1px solid black;
    margin-top: 10px;
}

.CPDindividualHours {
    margin: 0 !important;
    color: #000000 !important;
    background: none !important;
    font-size: .95em;
}

.CPDactivityTable .column1, .CPDactivityTable .column2 {
    width: 50px !important;
    margin: 0px 10px !important;
}

.CPDactivityTable .column3 {
    width: 100px !important;
}

.CPDactivityTable .column5 {
    width: 150px !important;
}

.CPDactivityTable .column5 a {
    text-decoration: underline;
    color: #0000ff;
}

.print-hour-counter {
    float: right;
    margin-right: 20px;
}

.CPDnewActivityItem,
.category-title > a,
#crm-container p {
    display: none;
}
